# ======================
# OS files
.DS_Store
Thumbs.db


.metadata/
.settings/
.project
.classpath
.vscode/
.idea/

# Build outputs
build/
dist/
target/
bin/
out/

# java files
*.class

# Logs
*.log

# Node / Ionic
node_modules/
www/
platforms/
plugins/

.env

# ======================
# Temporary files
# ======================
*.tmp
*.swp
